
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color:white;
    font-family: sans-serif;
    border-bottom: black solid 7px;
    position: relative;
    z-index: 1;
}

.burger {
    margin-right: 50px;
    cursor: pointer;
    z-index: 1;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: -1;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: white;
    align-items: center;
    width: 20%;
    transition: all 1s;
    border-left: black solid 7px;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: black;
    text-decoration: none;
    font-family: monospace;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div {
    z-index: 1;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive {
    transform: translateY(100vh);
}

img {
    width: 100vw;
    height: 90vh;
    position: relative;
    z-index: -3;
}

.instagram {
width: 50px;
height: 50px;
}

.facebook {
width: 50px;
height: 50px;
}
